*{
	font-family: 'Jua', sans-serif; 
}

#brand-main {
	color: Black;
}

#mobile-button{
    color: Black;	
}

#collapsable-nav{
	padding :0px;

}

#nav-list {
	margin-top: 1px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

}	

#nav-list li{
	background: #FFD3B5;
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	text-align: center;	
	margin-top: -1px;
	color: Black;    
}

#nav-list li a{
	color: Black;    
}

.row{
	padding-left: 15px;
	padding-right: 15px;
}


@media (max-width: 767px) {
	.row{
		padding-left: 60px;
		padding-right: 60px;
	}
}





.menu-section {
    background: #A8E6CE;
    word-wrap: break-word;  
}